*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: black;
    color: lightblue;
}

h1{
    font-size: 3,5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
    text-align: center;
}
p{
    font-size: 15px;
}
ul{
    list-style: none;
}
li{
    font-size: 15px;
    font-weight: bold;
}


a:visited,a:link,a:active {
    color:lightblue;
    text-decoration: none;
}

.container{
max-width: 1400px;
margin: auto;
flex-direction: column;
}

img{
    height: 100%;
}


.toggle-menu{
    height: 40px;
    right: 1.5em;
    top: 1em;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

header{
    background-color:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    );
    position: fixed;
    width: 100%;
    max-width: 1400px;
    }

.main-menu {
display: flex;
flex-direction: column;
text-align: center;
transition: transform 0.3s;
transform: translateY(-100%);
}

.main-nav{
    max-width: 1400px;
}

.menu_item {
    padding: 10px;
}

.main-menu--show {
    transform: translateY(0);
}

li a{
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
    color:rgb(50, 119, 248);
}

li a:hover{
    color: rgb(50, 119, 248);
}

#Hero{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
height: 90vh;
background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
)
,url("media/logo.png");
background-repeat: no-repeat;
background-position: center center;
}

#Hero h2{
    font-size: 1.5em;
}

#Quienessomos{
display: flex;
align-items: center;
justify-content: left;
text-align: center;
flex-direction: column;
padding: 100px 12px;
}

#Nuestros-servicios{
    display: flex;
    background-color: black;
    color: rgb(192, 230, 243);
    text-align: center;
}

#Nuestros-servicios p{
    display: none;
}

#Nuestros-servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/despachante.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/logistica.jpg");

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/transporte.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/clasificacion.png");

}

.carta h3, p{
    background-color: rgba(0, 0, 0, 0.600);
    border:double rgba(0,0,0);
    border-radius: 10px;
}

#CotizaTuEnvio{
    display: flex;
    height: auto; 
    text-align: center;
    }

#envio{
    opacity: 0;
}

textarea{
    min-width: 500px;
    max-width: 500px;
    min-height: 100px;
    max-height: 200px;
}

#inputTelefono{
    width: 255px;
}

#datos{
    height: 100%;
}


#Contacto{
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url("media/fondocontacto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contacto{
    text-align: center;
}

.mapa{
text-align: center;
}

footer{
    background-color: rgb(25, 25, 25);
}

footer p{
    color: rgb(192, 230, 243);
    margin: 0;
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

@media (min-width: 720px){

header{
background-color: rgb(25, 25, 25);
}

.main-menu{
    flex-direction: row;
    transform: translateY(0);
}

.toggle-menu{
    cursor: default;
}

    #Hero h2{
        font-size: 2.7em;
    }

    #Nuestros-servicios p{
        display: block;
        margin-bottom: 30px;
    }

    #Nuestros-servicios h3{
        margin-top: 0;
    }

    #Nuestros-servicios .carta{
        padding: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 0;
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/despachante.jpg");
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/logistica.jpg");
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/transporte.jpg");
    }
    
    .carta:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/clasificacion.png");
    }

    
    #Contacto{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)
        )
        ,url("media/fondocontacto.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

.containercontacto{
    width: 100%;
    display: flex
}

.contacto{
    width: 50%;
    text-align: left;
}
.mapa{
    width: 50%;
}

.lista{
    padding-top: 20px;
    text-align: center;
}

}
